
body {
    font-family: 'Raleway', sans-serif;
}

@font-face {
    font-family: 'Raleway';
    src: url('./Raleway-Regular.woff2') format('woff2'),
         url('./Raleway-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('./Raleway-Bold.woff2') format('woff2'),
         url('./Raleway-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

.aligned-text {
    font-size: 100px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 14px;
}

.cover__description-text span {
    font-size: 22px;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
}

.bet-button {
    font-size: 22px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    text-decoration: none;
}

.lots__heading {
    font-size: 40px;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
}

.card__title p {
    font-weight: 700;
    font-size: 22px;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
}

.card__text p {
    font-weight: 400;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
}

.lots__look-more-link a {
    font-weight: 400;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
}

.header__link {
    font-size: 18px;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
}

.about__title {
    font-size: 40px;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    line-height: 100%;
}

.about__text {
    font-size: 20px;
    font-weight: 400;
    max-width: 688px;
    max-height: 120px;
    letter-spacing: 0em;
    line-height: 24px;
    font-family: 'Raleway', sans-serif;
    position: relative;
    top: 80px;
}

.about__column .about__text {
    max-width: 693px;
}

.about__text:last-child {
    margin-bottom: 0;
}

.footer__menu-link {
    color: #000000;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
}